VITE_FIREBASE_API_KEY=AIzaSyCZG3oGYGNR2U3oRerzPewMCVryyMwdh0A
VITE_FIREBASE_AUTH_DOMAIN=sinfquiz-c8522.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sinfquiz-c8522
VITE_FIREBASE_STORAGE_BUCKET=sinfquiz-c8522.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=1060458952701
VITE_FIREBASE_APP_ID=1:1060458952701:web:55f69da8e8f165e15f0b94
VITE_FIREBASE_ADMIN_EMAIL=sardorsattorov455@gmail.com
VITE_SUPABASE_URL=https://nnksnlgofypbcdlfeseo.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Mwob1USy8WMDZ0BDbaJW8w_XonxjNZB
VITE_TELEGRAM_BOT_USERNAME=@sinfquiz_bot
TELEGRAM_BOT_TOKEN=8865815976:AAGYzAIVTCCAXNV6vCGNiuP3pnB4oDuyD0A
